<!-- logins in pointig to index -->
<%= form_with scope: :login, url: logins_path, local: true do |form| %>

  <h1>
    <center>
        Url Shortner
    </center>
  </h1>
  <p>
    <% if @a == 5 %>
  <%= javascript_tag "alert('hello welcome')" %>
<% end %>
  </p>
  <p>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </p>
 
  <p>
    <%= form.label :password %><br>
    <%= form.text_field :password %>
  </p>
 
  <p>

    <%= form.submit %>
  </p>
<% end %>