
<p>
  <strong>username: <%= @login.username %></strong>
  
</p>

<%= link_to 'Logout', new_login_path %>


<%= form_with scope: :login, url: logins_path, local: true do |form| %>
  <p>
    <%= form.label :full_url %><br>
    <%= form.text_field :long %>
    <% if params[:login] == nil %>
    <% pika = "short_op" %>
    <% else %>
    <% pika = params[:login][:short_op] %>
    
    <% end %>
    <%= form.label :short_op , "#{pika}" %><br>
    <%= form.hidden_field :username %>
    <%= form.hidden_field :id %>
    <% params[:username] = "" %>
    <% params[:id] = @login.id %>
    

  </p>
  <%= form.submit 'A'%>
 
  <p>
    <%= form.label :short_url %><br>
    <%= form.text_field :short %>

    <% if params[:login] == nil %>
    <% pika = "long_op" %>
    <% else %>
    <% pika = params[:login][:long_op] %>
    <% end %>

    <%= form.label :long_op ,"#{pika}" %><br>
  </p>
 
  <p>
    <%= form.submit 'B'%>
  </p>
<% end %>